<div id="leftNav" ng-controller="navBarController" class="mediumDarkBkg leftNavClosed" ng-style="style()" resize >
    <ul id='mainNav'>
        <li title='Home' class='home'>
            <a href="#/index.html"><span class='navImg homeNavImg'></span><span class='navText'>Home</span></a>
        </li>
        <li title='Disclosure Content Admin' class='disclosureContentAdminNav'><a href="#/contentAdmin.html">
            <span class='navImg disclosureContentAdminNavImg'></span><span class='navText'>Disclosure Content Admin</span></a>
        </li>
        <li title='Disclosure Doc Request' class='disclosureDocRequestNav'><a href='#/docRequest.html'>
            <span class='navImg disclosureDocRequestNavImg'></span><span class='navText'>Disclosure Doc Request</span></a>
        </li>
        <li title='Product Admin' class='productAdminNav active'><a href='#/productAdmin.html'>
            <span class='navImg productAdminNavImg'></span><span class='navText'>Product Admin</span></a>
        </li>
    </ul>
</div>